
- content_for(:head) do
  %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=0.5, user-scalable=no'}

#content
  #words_list
    - @all_words.each do |word|
      %p= word
  #word_content
    %h1.word
      = @entry.word
    %p.meaning
      = @entry.meaning
      
    %canvas#animation_canvas{'width' => '400', 'height' => '300'}
      Your browser doesn't support HTML5.
      
      
= link_to 'Create new entry',  new_entry_path