.back{
	background:url(yedi/inter_container_bg.png) top left no-repeat transparent;
	}
.ornek_border{
	border:1px solid #afc87d;
	}
.ornekbaslik_bg {
	background:url(yedi/ornek.png) no-repeat 50% 50%;
	}
	
a.navlink:hover { /* Navigation LINK HOVER */
	background-color:#8ebb37;
	}
	
a.sozcuklink:hover { /* SOZCUK LINK HOVER */
	background-color:#8ebb37;
	}
.selected { /* SOZCUK LINK HOVER */
	color:#000000 !important;
	background-color:#8ebb37 !important;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5) !important;
	}