
body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: #fef8ec;
}

#main {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

#content {
	height: 600px;
	padding: 20px;
	margin-top: 100px;
	margin-bottom: 20px;
	-moz-box-shadow: 0px 0px 10px #ccc;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	background-color: #fef2d9;
	overflow: auto;
}

#words_list {
	width: 130px;
	height: 100%;
	float: left;
	margin-right: 20px;
}

#words_list p {
	margin: 5px;
	margin-bottom: 10px;
}

#words_list p.selected {
	font-weight: bold;
	text-shadow: white 1px 1px 0;
}

#words_list a {
	color: maroon;
	text-decoration: none;
}

#words_list .selected {
	color: maroon;
}

#word_content {

}

#word_content h1 {
	text-shadow: white 1px 1px 0px;
	color: maroon;
}

canvas {
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
	width: 512px;
	height: 384px;
	-moz-box-shadow: 10px 0px 20px #ddd;
	-webkit-box-shadow: 0px 0px 20px #eee;
	border: 0px solid white;
	background-color: #fef8ec;
}
