@media print{
    body, html{
        font-size:20px !important;
        white-space: normal;
    }
    img{
        display: block !important;
        float: left !important;
        position: static !important;

    }
    p.tanim{
        float:left !important;

    }
}